@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .infoText {
    @apply p-4 bg-gray-700/55 rounded-lg max-w--[300px]
  }
}


::-webkit-scrollbar {
  display: none;
}
.buyMeCoffee{
  height: 40px !important;
  width: 120px !important;
}